.carousel-caption {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.367);
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100vh;
}   

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel {
    margin-right: -1em;
    margin-left: -1em;
}

.carousel-caption h5 {
    font-size: 24px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
}

.carousel-caption p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 auto 15px auto; 
    line-height: 1.4;
}

.carousel-caption .botao_article {
    display: inline-block;
    padding: 0.7em 1em;
    background-color: rgba(21, 98, 198, 0.696);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
}

.botao_article:hover {
    background-color: #7683bd;
}

p {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    font-size: 24px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.imagens {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 48em) {
    .carousel-caption p {
        font-size: 16px;
        max-height: 40%;
        max-width: 80%; 
        margin: 0 auto 20px auto;
    }

    .carousel-caption {
        font-size: 14px;
        max-height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
}